<nav class="navbar navbar-light" style="background-color: #bbc4ca;">
    <form class="form-inline">
      <a class="navbar-brand" href="#"><i class="fa fa-shopping-cart"></i> ABM Stock</a>
      <button class="btn btn-sm btn-outline-primary" type="button">Rubros</button>
      <button class="btn btn-sm btn-outline-primary" type="button">Articulos</button>
      <button class="btn btn-sm btn-outline-primary" type="button">Proveedores</button>
      <button class="btn btn-sm btn-outline-primary" type="button">Clientes</button>
      <button class="btn btn-sm btn-outline-primary" type="button">Compras</button>
      <button class="btn btn-sm btn-outline-primary" type="button">Ventas</button>
      <button class="btn btn-sm btn-outline-primary" type="button">Salir</button>
    </form>
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </nav>
