<div>
  <div>
    <h5>{{ titulo }}</h5>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col"><button class="btn btn-sm btn-outline-success" [routerLink]="['/nuevo-rubro/']"
            routerLinkActive="router-link-active">Nuevo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rub of rubros">
        <th scope="row">{{ rub.id }}</th>
        <td>{{ rub.nombre }}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" [routerLink]="['/editar-rubro/'+ rub.id]" routerLinkActive="router-link-active">Editar</button>
          <button *ngIf="rub.id!==1 && admin" class="btn btn-sm btn-outline-danger" [routerLink]="['/borrar-rubro/'+ rub.id]"
            routerLinkActive="router-link-active">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>