<div>
  <div class="alert alert-dark" role="alert">
    {{ titulo }}
  </div>
  <div *ngIf="factura && clie">
    <div>
      <label>Cliente: {{ clie.razonsocial }} | Cuit: {{ clie.cuit }} | Condicion IVA: {{ clie.condicioniva }}</label>
    </div>
    <div>
      <label>Tipo Factura: {{ factura.tipo }} | Sucursal: {{ factura.puntoventa }} | Numero: {{ factura.numero }}
        | Fecha: {{ factura.fecha| date: 'dd/MM/yyyy' }}
      </label>
    </div>

    <div>
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Cantidad</th>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">IVA</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of factura.items">
            <th scope="row">{{ item.cantidad }}</th>
            <td>{{ item.codigoproducto }}</td>
            <td>{{ item.descripcion }}</td>
            <td>{{ item.preciounitario }}</td>
            <td>{{ item.iva }}</td>
            <td>{{ item.subtotal | currency: 1 : "$ " }}</td>
          </tr>
          <tr>
            <td>
              <div *ngIf="coniva">IVA 21%: {{ factura.iva21 | currency: 1 : "$ " }}</div>
            </td>
            <td>
              <div *ngIf="coniva">IVA 10.5%: {{ factura.iva10 | currency: 1 : "$ " }}</div>
            </td>
            <td>
              <div *ngIf="coniva">Subtotal IVA: {{ factura.subtotaliva | currency: 1 : "$ " }}</div>
            </td>
            <td></td>
            <td></td>
            <td>Total:<strong> {{ factura.total | currency: 1 : "$ " }} </strong></td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary" (click)="ver()">Ver PDF</button>
      <button class="btn btn-danger" (click)="descargar()">Descargar PDF</button>
      <button class="btn btn-secondary" [routerLink]="['/listafacturaventa']" routerLinkActive="router-link-active">Volver</button>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    <small>No olvide deshabilitar su bloqueador de publicidad para poder ver el comprobante.</small>
  </div>
</div>