<div>
  <div>
    <h5>{{ titulo }}</h5>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark top">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Razon Social</th>
        <th scope="col">Cuit</th>
        <th scope="col">Condicion IVA</th>
        <th scope="col"><button class="btn btn-sm btn-outline-success" [routerLink]="['/nuevo-cliente/']"
            routerLinkActive="router-link-active">Nuevo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clie of clientes">
        <th scope="row">{{clie.id}}</th>
        <td>{{clie.razonsocial}}</td>
        <td>{{clie.cuit}}</td>
        <td>{{clie.condicioniva}}</td>
        <td>
          <button class="btn btn-sm btn-outline-primary" [routerLink]="['/editar-cliente/'+ clie.id]"
            routerLinkActive="router-link-active">Editar</button>
          <button *ngIf="admin" class="btn btn-sm btn-outline-danger" [routerLink]="['/borrar-cliente/'+ clie.id]" routerLinkActive="router-link-active">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
